<p class=""><%= t(:general_description) %></p>
                
<h4 class="mt-3"><%= t(:key_features) %>:</h4>
<ul>
    <li><strong><%= t(:key_feature_1) %></strong> <%= t(:key_feature_1_text) %></li>
    <li><strong><%= t(:key_feature_2) %></strong> <%= t(:key_feature_2_text) %></li>
    <li><strong><%= t(:key_feature_3) %></strong> <%= t(:key_feature_3_text) %></li>
</ul>
<p><%= t(:additional_description) %></p>